@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,600i');

:root{
    --MAIN-classic-font: 'EB Garamond'; /* Used for body content */
    --MAIN-modern-font: 'Fira Sans';    /* Used for headings, metadata... */
    --MAIN-primary-color: #1492A0;
    --MAIN-primary-color-lighter: #60d9e7;
    --MAIN-primary-color-lighter2: #94e1e9;
    --MAIN-primary-color-lighter3: #d3eef1;
    --MAIN-secondary-color: #339966;
    --MAIN-dim-color: #666666;

    --BODY-font: var(--MAIN-classic-font);
    --BODY-font-size: 19px;
    --BODY-font-weight: 300;
    --BODY-color: #222222;

    --META-font: var(--MAIN-modern-font);
    --META-font-size: 14px;
    --META-color: #999999;

    --LINK-normal-color: var(--MAIN-primary-color);
    --LINK-hover-color: var(--MAIN-secondary-color);

    --CODE-background-color: #eaf7ee;
    --CODE-color: #276940;
}

/* Base */
body {
    font-family: var(--BODY-font);
    font-size: var(--BODY-font-size);
    font-weight: var(--BODY-font-weight);
    color: var(--BODY-color);
}

h1, h2, h3, h4, h5 {
    font-family: var(--MAIN-modern-font) !important;
}

h1, h2, h3, h4 {
    color: var(--MAIN-primary-color) !important;
}

strong {
    font-weight: 600;
}

/* Link */
a {
    color: var(--LINK-normal-color);
}
a:hover {
    color: var(--LINK-hover-color);
}
.entry-content a {
    border-bottom: 1px dotted var(--LINK-normal-color) !important;
}

/* Menu */
.menu.main-menu {
    background-color: var(--MAIN-primary-color-lighter3);
    font-family: var(--MAIN-modern-font);
}
.menu.main-menu .item {
    padding: 0 .5rem;
}
.menu.main-menu .item a {
    font-family: var(--META-font);
    font-size: var(--META-font-size);
}
.menu.main-menu .item.current a {
    color: var(--MAIN-primary-color);
}
.menu.main-menu .item a:hover {
    color: var(--MAIN-secondary-color);
    text-decoration: underline;
}

/* Breadcrumbs */
.widget-breadcrumbs {
    font-family: var(--META-font);
    font-size: var(--META-font-size);
    color: var(--META-color);
}
.widget-breadcrumbs span {
    font-weight: normal !important;
}

/* Posts */
.item-header.summary {
    color: var(--MAIN-dim-color);
    font-size: calc(var(--BODY-font-size) - 2px);
}

/* TOC */
.container.entry-toc {
    padding: 8px 20px;
    margin-bottom: 20px;
}
.container.entry-toc[open] {
    background-color: var(--MAIN-primary-color-lighter3);
    border-radius: 8px;
}
.container.entry-toc ul:first-child {
    margin-left: 8px;
}

.entry-toc a {
    font-family: var(--META-font);
    font-size: var(--META-font-size);
}
.entry-toc a:hover {
    color: var(--LINK-hover-color);
    text-decoration: underline;
}
.entry-toc .title {
    font-family: var(--MAIN-modern-font);
}

.meta span {
    font-family: var(--META-font);
    font-size: var(--META-font-size) !important;
    color: var(--META-color);
    font-style: normal;
}

blockquote {
    font-size: var(--BODY-font-size);
    color: var(--MAIN-secondary-color);
    border-left-color: var(--MAIN-secondary-color);
}

/* Categories + Tags */
.tag, .category {
    font-family: var(--MAIN-modern-font);
    font-size: var(--META-font-size);
}
.tag {
    background-color: #c7d6f3;
    padding: 2px 5px;
    border-radius: 3px;
}
.tag:hover {
    background-color: var(--MAIN-secondary-color);
    color: #ffffff;
}
.category:hover {
    color: var(--MAIN-secondary-color);
}

.widget-taxonomy_cloud {
    font-size: calc(var(--BODY-font-size) - 2px);
}
.widget-taxonomy_cloud a {
    color: var(--META-color);
}
.widget-taxonomy_cloud a:hover{
    color: var(--LINK-hover-color);
}

/* Pagination */
.page-link {
    font-family: var(--META-font);
    color: var(--META-color);
}
.page-link:hover {
    color: var(--LINK-hover-color);
}
.page-link.current {
    color: var(--MAIN-primary-color);
}

/* Prev + Next */
.prev-entry a, .next-entry a {
    font-family: var(--META-font);
    font-size: var(--META-font-size);
}

.entry-meta, .entry-meta .posted-on {
    font-family: var(--META-font);
    font-size: var(--META-font-size);
    color: var(--META-color);
    font-style: normal;
}

/* Search */
.search-term, .search-results {
    font-family: var(--META-font);
    font-size: var(--META-font-size);
}
.search-submit {
    height: 100% !important;
}

/* Table */
table {
    margin-bottom: 16px;
    background-color: var(--CODE-background-color);
}
thead {
    background-color: var(--MAIN-secondary-color);
    color: #ffffff;
}
thead th {
    font-family: var(--MAIN-modern-font);
    font-size: calc(var(--BODY-font-size) - 2px);
    font-weight: normal;
}
figcaption {
    color: var(--META-color);
    font-family: var(--MAIN-modern-font);
    font-size: var(--META-font-size);
    margin-bottom: 20px;
}

/* ------------------------------- */
code {
    background-color: var(--CODE-background-color);
    color: var(--CODE-color);
    border: none;
}
pre, code, pre code {
    font-family: Menlo, Consolas, Monaco;
    font-size: 14px;
    line-height: 1.5;
}
pre {
    tab-size: 2;
}

.change.from {
    background-color: #f4cccc;
    text-decoration: line-through;
}
.change.to {
    background-color: #d5f3e4;
}
