@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,400i,500,500i,600,600i);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,500,500i,600,600i,700);
:root {
  --primary-color: #1492A0;
  --primary-color-lighter: #60d9e7;
  --primary-color-lighter2: #94e1e9;
  --primary-color-lighter3: #d3eef1;
  --secondary-color: #339966;
  --headings-font: 'Source Sans Pro';
  --body-font: 'Work Sans';
  --body-font-size: 17px;
  --meta-font-size: calc(var(--body-font-size) - 2px);
  --meta-color: #777;
  --menu-width: 250px;
  --code-background-color: #eaf7ee;
  --code-color: #276940;
  --box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
  --more-spread-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); }

article header {
  margin-bottom: 30px; }

header h1 {
  margin-block-start: 20px; }

.point {
  background-color: var(--primary-color-lighter3);
  color: var(--primary-color);
  float: left;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  text-align: center;
  border-radius: 8px 8px 8px 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

html, body {
  height: 100%; }

body {
  font-family: var(--body-font);
  padding: 0;
  margin: 0;
  color: #333;
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: 1.5; }

a {
  color: var(--primary-color); }
  a:hover {
    color: var(--secondary-color); }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings-font);
  color: var(--primary-color); }

h1 {
  font-size: calc(var(--body-font-size) + 22px); }

h2 {
  font-size: calc(var(--body-font-size) + 16px); }

h3 {
  font-size: calc(var(--body-font-size) + 10px); }

h4 {
  font-size: calc(var(--body-font-size) + 4px); }

img {
  max-width: 100%;
  box-shadow: #eee 0px 8px 24px; }

main {
  max-width: 798px;
  min-width: 320px;
  margin-left: var(--menu-width);
  padding: 0 30px 30px 30px;
  min-height: 100%;
  height: auto !important; }

@media only screen and (max-width: 767px) {
  main {
    max-width: 100%;
    min-width: 320px;
    margin-left: 0;
    padding: 0 30px; } }

blockquote {
  font-size: calc(var(--body-font-size) + 5px); }

.comments {
  margin: 20px 0; }
  .comments .container {
    margin: 20px 0; }

.entry-footer {
  padding: 20px 0; }
  .entry-footer div {
    margin-top: 0.5em; }

.entry-nav .prev-entry, .entry-nav .next-entry {
  padding: 5px 0; }

.entry-nav .prev-entry a:before {
  content: "← "; }

.entry-nav .next-entry a:after {
  content: " →"; }

.entry-nav div a {
  display: block;
  font-style: italic;
  text-decoration: none; }

.frontpage {
  color: var(--primary-color);
  font-weight: 500; }
  .frontpage .welcome {
    font-family: var(--headings-font);
    font-size: calc(var(--body-font-size) + 6px);
    margin-block-end: 0; }
  .frontpage .title {
    font-family: var(--headings-font);
    font-size: calc(var(--body-font-size) + 30px);
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 20px; }

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: none;
  stroke: var(--primary-color) !important;
  position: relative;
  top: 2px;
  height: 1em;
  width: 1em; }

#logo {
  font-size: calc(var(--body-font-size) + 6px);
  font-weight: 600; }
  #logo a {
    text-decoration: none; }

.metadata {
  font-size: var(--meta-font-size);
  color: var(--meta-color); }

nav[role="navigation"] {
  width: var(--menu-width);
  position: fixed;
  overflow: scroll;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fafafa;
  padding: 0 30px; }
  nav[role="navigation"] ul {
    border-top: 1px solid #e6e6e6;
    font-weight: 400;
    margin: 0;
    list-style: none;
    padding: 0; }
    nav[role="navigation"] ul li {
      border-bottom: 1px solid #e6e6e6; }
      nav[role="navigation"] ul li a {
        color: #333;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        display: block;
        padding: 10px; }

.menu-toggle {
  display: none; }

@media only screen and (max-width: 767px) {
  nav[role="navigation"] {
    width: 100%;
    position: relative;
    background: #FAFAFA;
    border-bottom: 1px solid #e6e6e6;
    border-right: none;
    overflow: hidden;
    padding: 0 30px; }
    nav[role="navigation"] > h2, nav[role="navigation"] ul {
      display: none; }
    nav[role="navigation"].open > * {
      display: block; }
  .menu-toggle {
    display: block;
    float: right;
    margin-top: -48px;
    cursor: pointer; }
    .menu-toggle .open {
      display: block; }
    .menu-toggle .close {
      display: none; }
  .menu-toggle.open .open {
    display: none; }
  .menu-toggle.open .close {
    display: block; } }

.page-links {
  margin-top: 2em; }

.page-link {
  display: inline-block;
  padding: 0.5em; }
  .page-link:first-child {
    padding-left: 0; }
  .page-link:last-child {
    padding-right: 0; }
  .page-link.current {
    font-weight: bold; }
  .page-link.dots {
    padding: 0; }

.post-item {
  list-style: none;
  margin: 0;
  padding: 0; }
  .post-item .item .title a {
    text-decoration: none; }
  .post-item .item .summary {
    font-size: var(--meta-font-size);
    color: var(--meta-color); }

.change.from {
  background-color: #e9050d33;
  text-decoration: line-through;
  padding-right: 3px; }

.change.to {
  background-color: #00740033;
  padding-left: 3px; }

.chroma {
  --background-color: var(--code-background-color);
  --color: var(--code-color);
  --comment-color: #c97f68;
  --comment-multiline-color: #007400;
  --keyword-color: #aa0d91;
  --error-color: #a61717;
  --type-color: #3f6e74;
  --var-name-color: var(--type-color);
  --string-color: #c41a16;
  --number-color: #1c00cf; }

code {
  background-color: var(--code-background-color);
  color: var(--code-color);
  border: none; }

pre, code, pre code {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco;
  font-size: 14px;
  line-height: 1.5; }

pre {
  tab-size: 2;
  overflow: auto; }

h2 code {
  font-size: calc(var(--body-font-size) + 12px); }

h3 code {
  font-size: calc(var(--body-font-size) + 8px); }

h4 code {
  font-size: calc(var(--body-font-size) - 1px); }

blockquote code {
  font-size: calc(var(--body-font-size) + 4px); }

/* SYNTAX */
/* Background */
.chroma {
  background-color: var(--background-color);
  color: var(--color);
  padding: 8px; }

/* Error */
.chroma .err {
  color: var(--error-color);
  background-color: #e3d2d2; }

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0; }

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block; }

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc; }

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* Keyword */
.chroma .k {
  color: var(--keyword-color); }

/* KeywordConstant */
.chroma .kc {
  color: var(--keyword-color); }

/* KeywordDeclaration */
.chroma .kd {
  color: var(--keyword-color); }

/* KeywordNamespace */
.chroma .kn {
  color: var(--keyword-color); }

/* KeywordPseudo */
.chroma .kp {
  color: var(--keyword-color); }

/* KeywordReserved */
.chroma .kr {
  color: var(--keyword-color); }

/* KeywordType */
.chroma .kt {
  color: var(--type-color); }

/* NameAttribute */
.chroma .na {
  color: #008080; }

/* NameBuiltin */
.chroma .nb {
  color: #0b1b63; }

/* NameBuiltinPseudo */
.chroma .bp {
  color: #333333; }

/* NameClass */
.chroma .nc {
  color: var(--type-color); }

/* NameConstant */
.chroma .no {
  color: #944611; }

/* NameDecorator */
.chroma .nd {
  color: #3c5d5d; }

/* NameEntity */
.chroma .ni {
  color: #800080; }

/* NameException */
.chroma .ne {
  color: var(--type-color); }

/* NameFunction */
.chroma .nf {
  color: var(--type-color); }

/* NameLabel */
.chroma .nl {
  color: #990000; }

/* NameNamespace */
.chroma .nn {
  color: #555555; }

/* NameTag */
.chroma .nt {
  color: #000080; }

/* NameVariable */
.chroma .nv {
  color: var(--var-name-color); }

/* NameVariableClass */
.chroma .vc {
  color: var(--type-color); }

/* NameVariableGlobal */
.chroma .vg {
  color: var(--type-color); }

/* NameVariableInstance */
.chroma .vi {
  color: var(--type-color); }

/* LiteralString */
.chroma .s {
  color: var(--string-color); }

/* LiteralStringAffix */
.chroma .sa {
  color: var(--string-color); }

/* LiteralStringBacktick */
.chroma .sb {
  color: var(--string-color); }

/* LiteralStringChar */
.chroma .sc {
  color: var(--string-color); }

/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--string-color); }

/* LiteralStringDoc */
.chroma .sd {
  color: var(--string-color); }

/* LiteralStringDouble */
.chroma .s2 {
  color: var(--string-color); }

/* LiteralStringEscape */
.chroma .se {
  color: var(--string-color); }

/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--string-color); }

/* LiteralStringInterpol */
.chroma .si {
  color: var(--string-color); }

/* LiteralStringOther */
.chroma .sx {
  color: var(--string-color); }

/* LiteralStringRegex */
.chroma .sr {
  color: var(--string-color); }

/* LiteralStringSingle */
.chroma .s1 {
  color: var(--string-color); }

/* LiteralStringSymbol */
.chroma .ss {
  color: var(--string-color); }

/* LiteralNumber */
.chroma .m {
  color: var(--number-color); }

/* LiteralNumberBin */
.chroma .mb {
  color: var(--number-color); }

/* LiteralNumberFloat */
.chroma .mf {
  color: var(--number-color); }

/* LiteralNumberHex */
.chroma .mh {
  color: var(--number-color); }

/* LiteralNumberInteger */
.chroma .mi {
  color: var(--number-color); }

/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--number-color); }

/* LiteralNumberOct */
.chroma .mo {
  color: var(--number-color); }

/* Operator */
.chroma .o {
  color: #333333; }

/* OperatorWord */
.chroma .ow {
  color: #000000; }

/* Comment */
.chroma .c {
  color: var(--comment-color);
  font-style: italic; }

/* CommentHashbang */
.chroma .ch {
  color: var(--comment-color);
  font-style: italic; }

/* CommentMultiline */
.chroma .cm {
  color: var(--comment-multiline-color);
  font-style: italic; }

/* CommentSingle */
.chroma .c1 {
  color: var(--comment-color);
  font-style: italic; }

/* CommentSpecial */
.chroma .cs {
  color: var(--comment-color);
  font-style: italic; }

/* CommentPreproc */
.chroma .cp {
  color: var(--comment-color);
  font-style: italic; }

/* CommentPreprocFile */
.chroma .cpf {
  color: var(--comment-color);
  font-style: italic; }

/* GenericDeleted */
.chroma .gd {
  color: #000000;
  background-color: #ffdddd; }

/* GenericEmph */
.chroma .ge {
  color: #000000;
  font-style: italic; }

/* GenericError */
.chroma .gr {
  color: #aa0000; }

/* GenericHeading */
.chroma .gh {
  color: #999999; }

/* GenericInserted */
.chroma .gi {
  color: #000000;
  background-color: #ddffdd; }

/* GenericOutput */
.chroma .go {
  color: #888888; }

/* GenericPrompt */
.chroma .gp {
  color: #555555; }

/* GenericStrong */
.chroma .gs {
  font-weight: normal; }

/* GenericSubheading */
.chroma .gu {
  color: #aaaaaa; }

/* GenericTraceback */
.chroma .gt {
  color: #aa0000; }

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline; }

/* TextWhitespace */
.chroma .w {
  color: #bbbbbb; }

/* CHRIS added */
.chroma .n {
  color: #333333; }

/* CHRIS added */
.chroma .p {
  color: #333333; }

table {
  background-color: var(--primary-color-lighter3);
  width: 100%;
  margin: 0 0 1.5em;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0; }

table, td, th {
  border: 1px solid #eee; }

td, th {
  padding: 0.375em 0.5em; }

thead {
  background-color: var(--primary-color);
  color: #eee;
  font-size: calc(var(--body-font-size) - 2px);
  font-weight: bold; }

figcaption {
  color: var(--meta-color);
  font-size: var(--meta-font-size);
  margin-bottom: 20px; }

.tag, .category {
  font-size: var(--meta-font-size);
  text-decoration: none; }

.tag {
  background-color: var(--primary-color-lighter3);
  padding: 2px 5px;
  border-radius: 3px; }

.tag:hover {
  background-color: var(--secondary-color);
  color: #ffffff; }

.category:hover {
  color: var(--secondary-color); }
