<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} posts" />

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i" rel="stylesheet">

	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/styles.css">

	<!-- Loading mathjax & config -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
	<script src="/assets/js/mathjax_config.js"></script>

	<!-- Analytics -->
	{% include analytics.html %}

</head>