/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/** Basic styling */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  font-weight: $base-font-weight;
  background-color: $base-background-color;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: $base-margin-bottom;
}

/** Lists */
ul, ol {
  margin-left: 30px;
}
li > ul, li > ol {
  margin-bottom: 0;
}

/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
}

/** Wrapper */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width:800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/** Clearfix */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
