/** Site footer */

.site-footer {
  border-top: 1px solid #f0f0f0;
  // background-color: #f8f8f8;
  height: $footer-height;

  .wrapper {
    // margin-top: ($footer-height/2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contact-list, .social-media-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  svg {
    height: 20px;
    margin: 0 5px 0 5px;
  }
}
