/** Frontpage **/


body, html {
	height: 100%;
}

.parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax_section {
	display: flex;
  justify-content: center;
}

.parallax {
	height: 45vh;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  background-image: url('/assets/static/sea_cropped.png');
  background-position: center top;
  background-repeat: no-repeat;
}

.parallax_content {
  height: 100vh;
  background: #fdfdfd;
}



