/** Icons */

.icon > svg {
  display: inline-block;
  vertical-align: middle;
  path {
    fill: #828282;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }
  li + li {
    padding-top: 5px;
  }
}