/** Page content */

.page-content {
	padding: $page-content-padding-top 0;
}

.page-heading {
	font-size: 20px;
}

.page-desc {
	// background: #eee;
	margin-bottom: 25px;
	// border-bottom: 0.5px solid #eee;
}

.page-desc-header {
	font-size: 28px;
	color: $primary-text-color;
}

.page-desc-subheader {

	font-size: $font-size;
	font-weight: lighter;
	font-style: italic;
	color: $secondary-text-color;
	margin-bottom: 10px;
}