/** Posts */

.post-header {
  margin-bottom: 30px;
  h1 {
    margin-bottom: 0;
  }
}

content-meta {
  color: #666;
  font-size: 13px;
  font-weight: lighter;
  padding-left: 10px;
}

.post-link-reading {
  color: #0067a7;
  background-color: #eeeeee;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  font-weight: lighter;
  &:visited, &:hover {
    color: #0067a7;
  }
  &::before {
    content: '📝 ';
  }
}

.center-image {
    margin: 0 auto;
    display: block;
}

ul blockquote {
  font-size: 16px;
}

.post-content {
  font-weight: $font-weight;
  margin-bottom: 30px;
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
}

/* Rates */
rate3 {
  &::before {
    content: "★★★☆☆";
  }
}

rate4 {
  &::before {
    content: "★★★★☆";
  }
}

rate5 {
  &::before {
    content: "★★★★★";
  }
}

rate3, rate4, rate5 {
  padding-left: 10px;
  font-size: 13px;
  color: #ffa500;
}

@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/* Post navigation: previous, upper level */
.post-levels {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: lighter;
  color: #888;
  a {
    font-size: 14px;
    font-weight: normal;
    padding-right: 5px;
    color: $blue-color;
    &:after {
      content: ' >';
    }
  }
}