/** Post list **/

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: 30px;
  }
}

.post-list-item {
  margin-bottom: 30px;
}

.post-meta {
  font-size: $smaller-font-size-3;
  color: #a2a2a2;
  margin-bottom: 10px;
}

.post-link {
  display: block;
  margin-bottom: -5px;
  font-size: 21px;
  font-weight: 500;
  color: $blue-color;
  &:visited, &:hover {
    color: $blue-color;
  }
}

.post-summary {
  font-weight: lighter;
  font-size: $smaller-font-size;
  text-align: justify;
  text-justify: inter-word;
  
  line-height: 1.5;
  color: #666;
}
