/** Post list **/

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: 30px;
  }
}

.post-meta {
  font-size: 13px;
  color: #a2a2a2;
}

.post-link {
  display: block;
  font-size: 20px;
  color: #0067a7;
  &:visited, &:hover {
    color: #0067a7;
  }
}

.post-summary {
  font-weight: lighter;
  font-size: $smaller-font-size;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #444;
}
