/** Sharebar **/

.share-bar {
  min-height: 50px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background-color: #eeeeee;
  border-radius: 3px;
}

.share-group {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.share-icon {
  width: 30px;
  height: 30px;
  &:hover {
    transform: scale(1.1);
  }
}