/** Tags */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  li {
    float: left;
    padding-right: 5px;
  }
}

.tag {
  color: #777;
  font-size: $smaller-font-size-3;
  font-weight: lighter;
  background-color: #e8e8e8;
  letter-spacing: 0.5px;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
  &:visited {
    color: #777;
  }
  &::before {
    content: '';
  }
  &:hover {
    background-color: #999999;
    color: white;
    text-decoration: none;
  }
}