/* ==========================================================================
   Variables
   ========================================================================== */

/** Font **/
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 16px;

$base-font-weight: normal;
$heading-font-weight: 400;

$smaller-font-size: 15px;

$navigation-font-size: 14px; // Menu (Tech/Reasoning/Misc/About)

/** Colors **/
$base-text-color: #393e46;
$base-background-color: #fdfdfd;
$code-background-color: #efefef;
$green-color: #007256;
$blue-color: #0067a7;

$header-text-color: #333;
$navigation-text-color: $header-text-color;

/** Icons **/


/** Margins/Padding **/
$base-margin-bottom: 15px; 
