/* ==========================================================================
   Variables
   ========================================================================== */

/** Font **/
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 17px;

$font-weight: normal;
$heading-font-weight: 400;

$smaller-font-size: 16px;

$navigation-font-size: 14px; // Menu (Tech/Reasoning/Misc/About)

/** Colors **/
$primary-text-color: #393e46;
$secondary-text-color: #777;

$background-color: #fdfdfd;
$code-background-color: #efefef;
$green-color: #007256;
$blue-color: #0067a7;

$header-text-color: #333;
$navigation-text-color: $header-text-color;

/** Icons **/


/** Margins/Padding **/
$margin-bottom: 15px; 
$page-content-padding-top: 30px;
$header-height: 56px;
$footer-height: 60px;