---
layout: default
---

<div class="post-levels">
	<a href="/">Home</a>
	<a href="/{{ page.categories | first | downcase}}">{{ page.categories | first }}</a>
	{{ page.title }}
</div>

<div class="post">

	<header class="post-header">
		<h1>{{ page.title }}</h1>
		<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
		<span class="tags">
		{% for tag in page.tags %}
		<a class="tag" href="/tags#{{tag}}">{{ tag }}</a>
		{% endfor %}
	</span>

	<!-- {% include social-sharing.html %} -->

	</header>

	<article class="post-content">
		{{ content }}
	</article>
</div>

{% include social-sharing.html %}

{% include post-suggestion.html %}

{% include subscribe.html %}

{% include disqus.html %}
<script id="dsq-count-scr" src="//trinhngocthuyen-github-io.disqus.com/count.js" async></script>
