---
layout: default
---

<div class="post">

	<header class="post-header">
		<h1>{{ page.title }}</h1>
		<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
		<span class="tags">
		{% for tag in page.tags %}
		<a class="tag" href="/tags#{{tag}}">{{ tag }}</a>
		{% endfor %}
	</span>
	</header>

	<article class="post-content">
		{{ content }}
	</article>
</div>

{% include social-sharing.html %}

<div class="page-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

{% include disqus.html %}
<script id="dsq-count-scr" src="//trinhngocthuyen-github-io.disqus.com/count.js" async></script>
